[DEFAULT]
DEFAULT_HOST = <>
DEFAULT_PORT = 27017
DEFAULT_USERNAME = <>
READONLY_USER =  <>
DEFAULT_PASSWORD = <>

GT_COLLECTION = <>
RAW_COLLECTION = <>
STITCHED_COLLECTION = <>
RECONCILED_COLLECTION = <>
DB_NAME = <>



[SCHEMA]
DEFAULT_HOST = str
DEFAULT_PORT = int
DEFAULT_USERNAME = str
READONLY_USER =  str
DEFAULT_PASSWORD = str

GT_COLLECTION = str
RAW_COLLECTION = str
STITCHED_COLLECTION = str
RECONCILED_COLLECTION = str
DB_NAME = str


